{
  extends: 'airbnb-base',
  rules: {
    'global-require': 'off',
    'no-param-reassign': ['error', { 'props': false }],
    'no-unused-vars': ['error', { argsIgnorePattern: 'next' }],
    'consistent-return': 'off',
    'no-restricted-syntax': 'off',
    'padded-blocks': 'off',
    'func-names': 'off',
    'max-len': ['error', 120],
    'indent': ['error', 'tab'],
    'no-tabs': 'off',
    'object-curly-spacing': ['error', 'never'],
    'prefer-template': 'off',
    'no-plusplus': 'off',
    'radix': 'off',
    'object-curly-newline': 'off',
    'no-console': 'off',
    'import/no-dynamic-require': 'off',
    'no-bitwise': 'off',
    'no-underscore-dangle': 'off',
  },
  env: {
    'es6': true,
    'node': true
   },
}