extends layout

block content
	h1= title
	.nav-bar
		
	p Welcome to #{title}
	p The Grime Archive is a site dedicated to the conservation and documenting of Grime radio sets and live recordings.


	h2.blue Rules

	p *		Mixes should be primarily grime, either vocal or instrumental
	p * 	Don't upload any mix that's commercially available
	p * 	Use formal names for DJs, MCs, etc. That means you should tag mixes with "Tempa T" rather than "Tempz"

	p

	h2.blue FAQ

	p.medium.red Is Grime Archive free?

	p Yes. There are no subscriptions or advertisments whatsoever and hosting costs are paid out of pocket. Mixes have no download limit and will never expire.

	p.medium.red What's the deal with accounts?

	p There aren't any! This keeps it simpler for everyone. However, if you want to be associated with a mix you upload, you can add a display name and
		| password to the mix at the upload page. Your password is converted into a unique hash and displayed as four emojis as a way to ensure your indentity.

	p.medium.red Why shouldn't I just use Mixcloud or Soundcloud?

	p Unlike those platforms, Grime Archive is designed for preservation rather than promotion. While this means that you won't have the
		| typical social media features of other modern platforms, it also means that there are time limits, restrictions on downloading,
		| size limits, or anything else that would prevent people from accessing mixes. This makes it a good alternative to file hosting sites
		| like Mediafire when it comes to hosting free mixes.

	p.medium.red What's the deal with those quotes at the bottom?

	p They're 

	p.medium.red Who runs the site?

	p Grime Archive was conceived and developed by Richard Adjogah a.k.a. College Hill. Inspiration came primarily from the now-defunct mix hosting sites
		| Grimetapes and Barefiles.

	p Grime Archive is open source. The source code can be viewed an downloaded 
		a(href='https://github.com/richardadjogah/grimelist') here
		| .
