extends layout

block content
	h1= title
	.nav-bar
		
	p Welcome to #{title}
	p Grimelist is a site dedicated to the conservation and documenting of Grime radio sets and live recordings.
	p More to be added.


	h2.blue FAQ

	p.medium.red 