extends layout

block content
	.nav-bar

	.info
		h2.blue.about-title About

		p The Grime Archive is a site dedicated to the conservation and documenting of Grime radio sets and live recordings by providing free hosting and
			| tagging services. Anyone can upload or download.
		p With The Grime Archive, we intend to serve two simultaneous functions: to provide current DJs with a reliable alternative to general file hosting sites
			| for hosting their own mixes and to provide fans a place to share recordings they've made of live radio broadcasts. Our aim is to preserve grime's rich
			| history of live performance and prevent the wealth of recordings that exist from being lost to time.

		h2.blue.about-title *Wasteman Disclaimer*

		p Time has unfortunately shown several artists to be abusive, bigoted, or otherwise just crappy people. As this site
			| aims to be a comprehensive library of grime history, it would not be possible to create an enforceable policy
			| for removing sets that feature these artists. A person featured on a mix should not be interpreted as an endorsement. Not naming any names...

		h2.blue.about-title Rules for Uploading

		p *	Mixes should be primarily grime, either vocal or instrumental
		p * Don't upload any mix that's commercially available
		p * Use formal names for DJs, MCs, etc. That means you should tag mixes with "Tempa T" rather than "Tempz"
		p * Try not to upload duplicate mixes
		p * Don't add duplicate info from other fields (such as MCs) to the title field
		p *** This info is added to the mp3 title automatically
		p * Any crew that an MC was in at the time of the recording should be tagged
		p Offending mixes will be edited or removed as necessary. We don't wanna do that :(

		h2.blue.about-title FAQ

		p.medium.red Is Grime Archive free?

		.faq-answer
			p Yes. There are no subscriptions or advertisments whatsoever and hosting costs are paid out of pocket. Mixes have no download limit and will never expire.

		p.medium.red What's the deal with accounts?

		.faq-answer
			p There aren't any! This keeps it simpler for everyone. However, if you want to be associated with a mix you upload, you can add a display name and
				| password to the mix at the upload page. Your password is converted into a unique hash called a tripcode and displayed as four emojis as a way to ensure your indentity.

		p.medium.red Why shouldn't I just use Mixcloud or Soundcloud?

		.faq-answer
			p Unlike those platforms, Grime Archive is designed for preservation rather than promotion. While this means that you won't have access to features
				| typical of other music platforms, it also means that there are time limits, restrictions on downloading,
				| size limits, or anything else that would prevent people from accessing mixes. This makes it a good alternative to file hosting sites
				| such as Mediafire when it comes to hosting free mixes.

		p.medium.red Are there any social media features?

		.faq-answer
			p No. The site is designed to be as simple and lightweight as possible to serve its primary goal of archiving audio. Our aim isn't to grow as large as possible but rather to
				| provide a single service to a core group of music enthusiasts and as such we have no need for likes, reposts, or playlists. However, feel free to link to Grime Archive
				| from anywhere you please (such as the 'Buy' link of a soundcloud track).

		p.medium.red Who runs the site?

		.faq-answer
			p Grime Archive was conceived and developed by Richard Adjogah a.k.a. College Hill. Inspiration came primarily from the now-defunct mix hosting sites
				| Grimetapes and Barefiles. Very special thanks to
				a(href='https://www.youtube.com/user/silverdrizzle').blue silverdrizzle
				|  for providing access to his mix collection!

			p Grime Archive is open source. The source code can be accessed
				a(href='https://github.com/richardadjogah/grimelist').blue here
				| .

		h2.blue.about-title Updates

		p.medium.red June 14th, 2015
		p * Fixed a bug that prevented multiple tripcodes from displaying their emojis properly

		p.medium.red June 6th, 2015
		p * Added a cancel button to the upload form and restyled it to avoid multiple uploads
		p * Mp3 files are now renamed to a logical filename upon download
		p * Added a total download counter to the main page
		p * Fixed a bug where download counts weren't being updated

		p.medium.red July 3rd, 2015
		p * Added an advanced search page!
		p * Files are now hosted on an Amazon S3 server in Ireland. While this increases upload time, it should improve download speed for European users and eliminates the risk of running out of storage space

		p.medium.red October 25th, 2015
		p * Added a mobile view

		p.medium.red July 30th, 2020
		p * Added an upload field for Youtube links.
		p * Updated About page; added a disclaimer

		p.medium.red Marth 21st, 2015
		p * Various re-stylizings. New header!
		p.faq-answer * Large cleanup of

				a(href='https://github.com/richardadjogah/grimelist').blue source code
		p * Added an additional rule for uploading to avoid duplicate info
