extends layout

block content
	h1= title
	.nav-bar
		
	p Welcome to #{title}
	p Grimelist is a site dedicated to the conservation and documenting of Grime radio sets and live recordings.
	p More to be added.


	h2.blue Rules

	h2.blue FAQ

	p.medium.red Is Grimelist free?

	p Yes. There are no subscriptions or advertisments whatsoever and hosting costs are paid out of pocket. Mixes have no download limit and will never expire.

	p.medium.red Why shouldn't I just use Mixcloud or Soundcloud?

	p Unlike those platforms, Grimelist is designed for preservation rather than promotion. While this means that you won't have the
		| typical social media features of other modern platforms, it also means that there are time limits, restrictions on downloading,
		| size limits, or anything else that would prevent people from accessing mixes. This makes it a good alternative to file hosting sites
		| like Mediafire when it comes to hosting free mixes.

	p.medium.red Who runs the site?

	p Grimelist was conceived and developed by Richard Adjogah a.k.a. College Hill. Inspiration came primarily from the now-defunct mix hosting sites
		| Grimetapes and Barefiles.

	p Grimelist is open source. The source code can be viewed an downloaded 
		a(href='https://github.com/richardadjogah/grimelist') here
		| .
