doctype html
html
	head
		title= (title? title + ' | The Grime Archive' : 'The Grime Archive')
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/style/style.css')
		link(rel='shortcut icon', href='/img/favicon.ico')
	body
		.title-pic.title-big.red
			a(href='/') The Grime Archive.
			.blurred-1
				| The Grime Archive.
			.blurred-2
				| The Grime Archive.
		div.nav-bar.medium
			ul
				li
					.blue
						a(href='/') Home
				li
					.yellow
						a(href='/mixes/page/1') Mixes
				li.upload-nav
					.red
						a(href='/upload') Upload
				li
					.green
						a(href='/about') About
				li.searchbar
					form(name="search", action="/search", method="get", enctype='multipart/form-data')
						input(type="text", name="title")
						input(type='submit', value='Search >> ')
				li.advanced-layout
					.blue
						a(href='/advanced') [Advanced]
				li.mobile-search
					.red
						a(href='/advanced') Search

	block content

	div.footer
		br
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
		script(type='text/javascript').

			var updateQuote = function(event) {
				$.ajax({
					url: '/quote',
					type: 'GET',
					success: function(data){
					var oldquote = $('.quote').text();
					var newquote = '"' + data + '"';
					$('.quote').text(newquote);

					//re-run to avoid not sending a new quote
					if (newquote == oldquote){
						updateQuote();
						}
					}
				});
			}

			$(function(){
				updateQuote();
				$('.quote').on('click', updateQuote);
			});
		div.quote
		div.disclaimer
			p Site © 2021 College Hill. Mixes are hosted for non-profit archival use only. Contact thecollegehill@gmail.com with any questions or concerns.