doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/style/style.css')
	body
		.title-pic
			img(src='/img/title.png')
		.nav-bar
			ul
				li
					a(href='/') Home
				li
					a(href='/mixes/') Mixes
				li
					a(href='/upload') Upload
				li
					a(href='/about') About
	
	block content