extends layout

block content
	if message == "loggedIn"
		p You're logged in!
	else if message == "invalid"
		p Invalid login!
	else if !message || message == "invalid"
		p Super Secret Admin Login! If you're not with us then GET OUT!
		form(name="admin", action="/admin/login", method="post")
			div.upload-label
				| Username
			input(type="text", name="user")
			div.upload-label
				| Password
			input(type="password", name="password")
			input(type='submit', value='Login', id='_submit')

	else
		p Error!