extends layout

block content
	.upload.content 
		
			div.upload-labels
				p Title:
				p DJ: 
				p MCs:
				p Crews:
				p Radio Station / Rave:
				p Air Date:
				p Description:
			div.upload-inputs
				form(id="_form", name="upload", action="/upload", method="post", enctype='multipart/form-data')
					input(type="text", name="title")
					br
					input(type="text", name="dj")
					br
					input(type="text", name="mcs")
					br
					input(type="text", name="crews")
					br
					input(type="text", name="station")
					br
					input(type="text", name="day")
					input(type="text", name="month")
					input(type="text", name="year")
					br
					textarea(name="description" cols="40" rows="5")
					br
					input(type="file", name="file" id='_file')
					input(type='button',  onclick="uploadFile()", value='Upload', id='_submit')
			div.upload-bar
					div.progress
						| O%
					script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
					script(type='text/javascript').
						function uploadFile() {
							evt.preventDefault();
							var form = document.getElementById('_form');
							var fd = new FormData(form);
							
							var xhr = new XMLHttpRequest();
							xhr.upload.addEventListener("progress", function (evt) {
									if (evt.lengthComputable) {
										var percentage = (evt.loaded / evt.total) * 100;
										$('progress').text(percentage + '%');
									}
								}, false);
							xhr.onreadystatechange = function() {
								var result;
								if (xhr.readyState == 4) {
									window.location = xhr.responseText; 
								}

							};
							xhr.open('post', '/upload', true);
							
							xhr.send(fd);	
						}
						

