extends layout

block content

	.upload.content 
		//-.upload-vertical
		//-	| UPLOAD
		
		//- div.upload-labels
		//- 	p Title:
		//- 	p DJ: 
		//- 	p MCs:
		//- 	p Crews:
		//- 	p Radio Station / Rave:
		//- 	p Air Date:
		//- 	p Description:
		//- 	p username/tripcode
		.upload-title.blue
			p Upload
		.upload-text
			p No fields are required, but please fill out as many as possible.
			p Only MP3 files are supported. Tags are automatically updated with mix information.

		div.upload-inputs
			form(id="_form", name="upload", action="/upload", method="post", enctype='multipart/form-data')
				div.upload-label
					| Title
				input(type="text", name="title")
				div.upload-label
					| DJ
				input(type="text", name="dj")
				br
				div.upload-label.tag-input
					| MCs
				input(type="text", name="mcs" id="mcs")
				div.upload-label.tag-input
					| Crews
				input(type="text", name="crews" id="crews")
				div.upload-label
					| Radio Station / Rave: 
				input(type="text", name="station")
				br
				div.upload-label
					| Air Date
				input(type="text", name="day" placeholder="day" class="date")
				input(type="text", name="month" placeholder="month" class="date")
				input(type="text", name="year" placeholder="year" class="date")
				br
				div.upload-divider
				div.upload-label
					| Username
				input(type="text", name="username")
				div.upload-label
					| Tripcode 
					div.tripcode-tooltip
						| (?)
				input(type="text", name="tripcode")

				div.tooltip
					br
					| Grime Archive uploaders are anonymous, but if you want any mixes you upload to be identifiable,
					| you can provide a name and tripcode that will be used to identify you.
					| Tripcodes are passwords that get encrypted and displayed as a unique series of emojis next to your name.
				br
				div.upload-label
					| Additional comments
				textarea(name="description" cols="40" rows="5")
				br
				.file-inputs
					input(type="file", name="file" id='_file' accept='audio/mpeg3,audio/mpeg,audio/mp3')
					.file-overlay
						p.file-button Select a File
				input(type='button',  onclick="uploadFile()", value='Upload', id='_submit')
				script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
				script(src="/js/jquery.tagsinput.js")
				link(rel="stylesheet" type="text/css" href="style/jquery.tagsinput.css")
				script(type='text/javascript').
					function uploadFile() {
						console.log("uploading");
						//evt.preventDefault();
						var form = document.getElementById('_form');
						var fd = new FormData(form);

						var file = document.getElementById('_file');
							
						file.onchange = function(e){
							console.log("onchaaa");
						    var ext = this.value.match(/\.([^\.]+)$/)[1];
						    console.log(ext);
						    if (ext != 'mp3') {
						    		$('.progress').text("Invalid file type");
						    	} 
						};
						
						var acceptedTypes = ['mp3'];

						var xhr = new XMLHttpRequest();
						var filename = document.getElementById('_file').value;
						//var ext = filename.match(/\.([^\.]+)$/)[1];
						console.log($('#_file'));
						if (document.getElementById('_file').value == ''){
								$('#_submit').prop('value', 'No file selected');
						}
						else if (acceptedTypes.indexOf(filename.match(/\.([^\.]+)$/)[1]) == -1 ) {
							$('#_submit').prop('value', 'Invalid file type');
						}
						else {
							xhr.upload.addEventListener("progress", function (evt) {
									if (evt.lengthComputable) {
										console.log("progreesss");
										var percentage = Math.floor((evt.loaded / evt.total) * 100);
										console.log(percentage);
										$('#_submit').prop('value', percentage + '%');
									}
								}, false);
							xhr.onreadystatechange = function() {
								var result;
								console.log(xhr);
	
								if (xhr.readyState == 4) {
									var split = xhr.responseText.split("/")[2];
									setInterval(function() { 
										$.get("upload/" + split, function (data) {
											if (parseInt(data) > 0) {
													window.location = xhr.responseText; 
												}
											}); 
										}, 200);
									
								}
							};
							xhr.open('post', '/upload', true);
							
							xhr.send(fd);	
						}
					}

					$("input[type=file]").on('change',function(){
						$(".file-button").text(this.files[0].name);
					});

					$('.tripcode-tooltip').click(function() {
						$( ".tooltip" ).toggle();
					})


					$('#mcs').tagsInput({
						 'defaultText':'',
						 'height':'20px',
						 'width':'404px'
						});
					$('#crews').tagsInput({
						 'defaultText':'',
						 'height':'20px',
						 'width':'404px'
						});
						

