extends layout

block content
	.upload.content 
		
			div.upload-labels
				p Title:
				p DJ: 
				p MCs:
				p Crews:
				p Radio Station / Rave:
				p Air Date:
				p Description:
			div.upload-inputs
				form(name="upload", action="/upload", method="post", enctype='multipart/form-data')
					input(type="text", name="title")
					br
					input(type="text", name="dj")
					br
					input(type="text", name="mcs")
					br
					input(type="text", name="crews")
					br
					input(type="text", name="station")
					br
					input(type="text", name="day")
					input(type="text", name="month")
					input(type="text", name="year")
					br
					textarea(name="description" cols="40" rows="5")
					br
					input(type="file", name="file")
					input(type='submit', value='Upload')

			