body {
	padding: 50px;
	background-color: black;
	color: white;
	list-style-type: none;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title-pic {
	img {
		width: 400px;
	}
}

a {
  color: #00B7FF;
}

.nav-bar{


}